.input {
    background-color: white;
    color: #000;
    border: 2px solid #000; /* Border style similar to button */
    border-radius: 4px; /* If you want rounded corners like the button */
    margin: 10px;
  }
  .input.small {
    padding: 1rem 1rem; /* Padding similar to button for height */

    min-width: 50px; /* Minimum width of the input */
    max-width: 250px; /* Maximum width of the input */
    font-size: 1.5rem; /* Font size similar to button */
  }
  /* You can add specific classes for login, create-account, or email if needed */
  .input.login {
    padding: 1rem 1rem; /* Padding similar to button for height */
    width: 300%;
    min-width: 100px; /* Minimum width of the input */
    max-width: 500px; /* Maximum width of the input */
    font-size: 1.5rem; /* Font size similar to button */
  }

  .file {
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;

  }
  
  .input.password {
    padding: 1rem 1rem; /* Padding similar to button for height */
    width: 300%;
    min-width: 100px; /* Minimum width of the input */
    max-width: 500px; /* Maximum width of the input */
    font-size: 1.5rem; /* Font size similar to button */
  }
  
  .input.email {
    padding: 1rem 1rem; /* Padding similar to button for height */
    width: 300%;
    min-width: 100px; /* Minimum width of the input */
    max-width: 500px; /* Maximum width of the input */
    font-size: 1.5rem; /* Font size similar to button */
  }
  