.radio-form {
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: auto;
  font-size: 1.7em;
  font-weight: bold;
  color: #479F76;
  background: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional: adds some shadow for depth */
  margin: 10px;
}

