


.home {
  background-image: url('../../images/background.png'); /* Default background */
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 800px; /* Adjust as needed */
  margin: auto;
  padding: 4rem;
  background: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: adds some shadow for depth */
}

h1 {
  margin-bottom: 2rem;
  text-align: center;
  color: #333; /* Dark grey color for text */
  font-size: 4rem; /* Scales with viewport width */
  margin-bottom: 8rem;
}

.button-container {
  display: flex;
  justify-content: center; /* Centering buttons in the container */
  gap: 20px; /* This creates space between the buttons */
}

